body{
	font-family:'Open Sans',sans-serif;
}

h1{
	margin-left:1%;
	font-size: 64px;
	font-weight: 300;
	letter-spacing: -2px;
	margin: .3em 0 .1em 0;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}


#chartContainer{
	width:80%;
	height:auto;
	margin: 3% 10% 10% 10%;
	border:1px solid #cccccc;
}



svg {
	font-family:'Open Sans',sans-serif;
	font-size: 11px;
	font-weight: 100;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	fill:#bcbcbc;

}

text.country-title {
	font-size: 11px;
	font-weight:100;
	font-family:'Open Sans',sans-serif;
	fill : #bcbcbc;
}

text.instructions {
	font-size: 16px;
}

g.context g.brush rect.background {
	fill : #ffffff;
	stroke:#666666;
	stroke-opacity:1;
	fill-opacity:0.3;
	stroke-width:1.5px;
	
}

g.context g.axis path {
	stroke-opacity: 0;
	fill:#666666;
	opacity:0.8;
}

g.context g.axis line {
	stroke-opacity: .1;
}

g.context g.axis text{
	fill:#000000;
	stroke:#000000;
	
	
}

g.splineBackground path.chart{
	fill:#f4f4f4;
	stroke: #a6a6a6;
	stroke-width:1px;
}


.axis path, .axis line {
	fill: none;
	stroke: #a6a6a6;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #000000;
	stroke-width:2;
	fill:#000000;
	fill-opacity: .525;
	shape-rendering: crispEdges;
}

g.context rect.background{
	visibility: visible !important;
}

